<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
<div class="container">
    <div class="row">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Pin Code</th>
                        <th>Country</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Thomas Hardy</td>
                        <td>89 Chiaroscuro Rd. </td>
                        <td>Portland</td>
                        <td>97219</td>
                        <td>USA</td>
                        <td> <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-eye-open"></span> </button><button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-pencil"></span> </button><button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-trash"></span>
            </button></td>
                        <tr>
                            <td>2</td>
                            <td>Maria Anders</td>
                            <td>Obere street 57 </td>
                            <td>Berlin</td>
                            <td>12209</td>
                            <td>Germany</td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-eye-open"></span> </button>

                                <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-pencil"></span> </button>

                                <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-trash"></span>
                </button>
                            </td>

                        </tr>
                </tbody>
            </table>
            <!-- <input type="button" class="btn btn-primary" id="add-new" onclick="addFunction()" value="ADD"> -->
        </div>
    </div>
</div>